{% extends 'header.html' %}

{% block body %}


<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#uploadDoc">Upload File</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#loadData">Load Previous Data</a>
  </li>
</ul><br>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane container active" id="uploadDoc">
    <form enctype="multipart/form-data" method="POST">

      <input type="text" name="docDBName" class="form-control" placeholder="Document Name"><br>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name = document>
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div><br/><br/>
      <button class="btn btn-primary" type="submit" name="uploadDoc">Upload</button>
    </form>
  </div>

  <div class="tab-pane container fade" id="loadData">
    <form method="POST">
      <select name="prevDocPath" class="custom-select">
        <option selected disabled>Select Data Set</option>
        {% for row in docInfo %}
        <option value={{row[2]}}>{{row[1]}}</option>
        {% endfor %}
      </select><br/><br/>
      <button class="btn btn-primary" type="submit" name="loadPrevDoc">Load Data</button>
    </form>
  </div>
</div><br>


{% if docContent %}
<div class="card" id = 'fileViewer' style="width: 100%">
  <div class="card-body" style="overflow:auto; height: 500px;">
    <h4 class="card-title">File Data</h4>
    <p class="card-text">{{docContent}}</p>
  </div>
</div>
{% endif %}


<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>











{% endblock %}
